
.card-one{
  max-width: 1416px;
  margin:0 auto;
  padding: 24px 24px 24px;
  background-color: #fff;
  font-family: 'Roboto Condensed', sans-serif;
}

h1{
  display: flex;
  justify-content: center;
  padding: 0 0 24px 0;
}